body
{
    font-family: FontAwesome sans-serif;
    background-color: #BEB7A4;
    color: #ffffff;
}

.container
{
    margin: 0 auto 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default
{
    background-color: #000000;
}

.navbar-default
{
    border-radius: 0px;
    border-color: black;
}

.navbar-default .navbar-brand
{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}
.title
{
    /*text-align: center;*/
}

.number-box, .fa.fa-gender 
{
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.fa.fa-gender
{
    color: red;
}

.push_down
{
    margin-top: 5%;
    padding-left: 170px;
}

.text-center
{
    text-align: center;
    font-weight: bolder;
    color: #000000;
    text-decoration: underline;
}

hr
{
    border-top: 1px solid #000000;
}

#cause_of_death
{
    margin-top: 1.3%;
    float: right;
}

/*.text*/
/*{*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*}*/

.dc-select-menu
{
    background-color: red;
    color: white;
    font-weight: bold;
}

.dc-select-menu option
{
    color: white;
}

select
{
    border-color: red;
}

option
{
    color: white;
}



.dc-chart rect.bar
{
    fill: #ff0000;
}

/*.dc-chart rect.bar:hover */
/*{*/
/*    fill-opacity: .5;*/
/*}*/



.dc-chart .axis text {
    font: 10px sans-serif;
    font-weight: bold;
    fill: white;
}

.dc-chart .x-axis-label {
  fill: white;  
  font-weight: bold;
}

.dc-chart .y-axis-label {
  fill: white; 
  font-weight: bold;
}

.dc-chart .axis line, .dc-chart .axis path {
    stroke: white;
}
